# Firebase Configuration
# Copia este archivo como .env y completa los valores

# Firebase Config (del google-services.json)
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBhZTdRjNyq7tIFb0RPSiuQTozTYaBTxqc
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=unpaso-747c5.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=unpaso-747c5
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=unpaso-747c5.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=459204323613
EXPO_PUBLIC_FIREBASE_APP_ID=1:459204323613:android:88aa6c9b75df738fd0d9f4