node_modules/
.expo/
dist/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
google-services.json
serviceAccountKey.json
.DS_Store
.vscode/
.idea/
*.log
npm-debug.log*
yarn.lock
