node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local

# Firebase - NO subir por seguridad
google-services.json
serviceAccountKey.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Dependencies
package-lock.json
yarn.lock